<%= form_for([@album, @photo], html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload my Image" %>
  </div>

<% end %>
