// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .test {
//   height: 500px;
//   width: 500px;
//   border: 5px solid black;
// }



.col1 { width: 200px; }
.col2 { width: 300px; }
.col3 { width: 400px; }
.col4 { width: 500px; }
.col5 { width: 600px; }

.col1 img { max-width: 200px; }
.col2 img { max-width: 300px; }
.col3 img { max-width: 400px; }
.col4 img { max-width: 500px; }
.col5 img { max-width: 600px; }

.hidden {
  display: none;
}

.centered { margin: 0 auto; }

.enlarge {
  width:600px;
  img{
    max-width: 600px;
  }
}
//
// .pic {
//   height:auto;
//   width:auto;
//   position:relative;
//   z-index:1;
//   margin:0px auto;
//   overflow:hidden;
//   display:inline;
//   float:left;
//   }
//      .pic img {height:auto;width:auto;position:relative;z-index:2;}
//      .remove {height:auto;width:100%;display:block;font-family:Arial, Helvetica, sans-serif;text-align:center;padding:10px 0px 10px 0px;color:#FFF;position:absolute;z-index:3;top:0;/*also set your semi transparent black background-image here using the background-image property*/}

.add-photos {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pic {
  float:left;
  position: relative;
  // float: left;
  img {
      display: block;
  }
  // width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.remove {
  z-index: 2;
  display: block;
  opacity: .8;
  background-color: aliceblue;
  // margin: auto;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.remove:hover {
  opacity: 1;
  background-color: aliceblue;
}

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
